.about {}

.about p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 200%;
}

.wormhole {
    background-image: url("assets/wormhole.png");
    background-position: left;
    background-repeat: no-repeat;
}

.wormholeContainer {
    margin-top: 50px;
}